<mat-toolbar color="primary">
  <mat-toolbar-row>
    <i class="material-icons">
      school
    </i>
    <button mat-button>
      <i class="material-icons">
        menu
      </i>
    </button>

    <span class="example-spacer"></span>
    <button mat-button>
      <i class="material-icons">
        account_circle
      </i>
    </button>
    <a routerLink="/login">Login</a>
    <button mat-button>
      About
    </button>
    <button mat-button>
      Contact
    </button>
  </mat-toolbar-row>
</mat-toolbar>
